[submodule "vetar_drv"]
	path = vetar_drv
	url = https://github.com/vetarWare/vetar_drv.git
[submodule "fpga-config-space"]
	path = fpga-config-space
	url = git@ohwr.org:hdl-core-lib/fpga-config-space.git
